**Connect To Database**

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:0077melhadj@localhost:3306/coding_challenge_data

'Connected: root@coding_challenge_data'

**(1) Retrieve country-specific GMV data, along with corresponding percentages**

In [8]:
%%sql
WITH cte AS (
    SELECT 
        c.id AS country_id,
        c.name AS country_name, 
        o.store_id, 
        s.slug AS store_slug, 
        oi.product_id,
        p.slug AS product_slug, 
        p.price, 
        oi.quantity, 
        o.created_at 
    FROM countries c
    LEFT JOIN stores s ON c.id = s.country_id
    LEFT JOIN orders o ON s.id = o.store_id
    LEFT JOIN order_items oi ON o.id = oi.order_id
    LEFT JOIN products p ON p.id = oi.product_id
),
gmv_total AS (
    SELECT COALESCE(SUM(price * quantity), 0) AS total_gmv
    FROM cte
    WHERE created_at >= DATE_SUB(NOW(), INTERVAL 1 YEAR) OR created_at IS NULL -- last year or no sales
)
SELECT 
    country_name,
    COALESCE(SUM(price * quantity), 0) AS GMV,
    CASE 
        WHEN gmv_total.total_gmv > 0 
        THEN CONCAT(ROUND((COALESCE(SUM(price * quantity), 0) * 100) / gmv_total.total_gmv, 2), ' %')
        ELSE '0.00 %'
    END AS percentage
FROM
    cte,
    gmv_total
WHERE
    created_at >= DATE_SUB(NOW(), INTERVAL 1 YEAR) OR created_at IS NULL -- last year or no sales
GROUP BY country_name, gmv_total.total_gmv
ORDER BY GMV DESC;

 * mysql+pymysql://root:***@localhost:3306/coding_challenge_data
10 rows affected.

[('Slovenia', Decimal('5961991.09'), '19.53 %'),
 ('United States Virgin Islands', Decimal('5181984.93'), '16.98 %'),
 ('Morocco', Decimal('4656581.15'), '15.25 %'),
 ('Libyan Arab Jamahiriya', Decimal('3350623.16'), '10.98 %'),
 ('China', Decimal('3254350.25'), '10.66 %'),
 ('Indonesia', Decimal('2929335.17'), '9.60 %'),
 ('Liberia', Decimal('2900138.16'), '9.50 %'),
 ('Uruguay', Decimal('1434342.83'), '4.70 %'),
 ('Colombia', Decimal('856653.43'), '2.81 %'),
 ('Nicaragua', Decimal('0.00'), '0.00 %')]

**(2) Retrieve top stores with their corresponding GMV**

In [10]:
%%sql
WITH cte AS
(
	SELECT  s.id as store_id, 
			s.slug as store_name,
            o.created_at,
            oi.quantity,
            p.price
    FROM 
		stores s
	JOIN
		orders o ON o.store_id = s.id
	JOIN 
		order_items oi ON oi.order_id = o.id 
    JOIN 
		products p ON p.id = oi.product_id
),
gmv_total AS (
    SELECT COALESCE(SUM(price * quantity), 0) AS total_gmv
    FROM
		cte
   WHERE 
		created_at >= DATE_SUB(NOW(), INTERVAL 1 YEAR)  -- last year 
)
SELECT 
    store_id,
    store_name,
    SUM(price * quantity) AS GVM,
    CONCAT(ROUND((SUM(price * quantity) * 100) / gmv_total.total_gmv,2),' %') AS percentage
FROM

    cte,
    gmv_total
WHERE
    created_at >= DATE_SUB(NOW(), INTERVAL 1 YEAR)  -- last year
GROUP BY store_id, store_name, gmv_total.total_gmv
ORDER BY GVM DESC
LIMIT 10 -- top 10 stores

 * mysql+pymysql://root:***@localhost:3306/coding_challenge_data
10 rows affected.

[(36, 'model-too-part', Decimal('1277684.28'), '4.19 %'),
 (46, 'strategy-kitchen', Decimal('1173243.33'), '3.84 %'),
 (38, 'laugh-situation', Decimal('1166383.70'), '3.82 %'),
 (29, 'mission-writer-own', Decimal('1149917.68'), '3.77 %'),
 (28, 'article-mention', Decimal('1131182.50'), '3.71 %'),
 (39, 'every-study-far-may', Decimal('1099305.20'), '3.60 %'),
 (37, 'cut-him-drug', Decimal('1086764.53'), '3.56 %'),
 (50, 'sound-who-still', Decimal('1074363.82'), '3.52 %'),
 (17, 'money-firm-plant', Decimal('1071413.71'), '3.51 %'),
 (16, 'market-own-city', Decimal('1065909.08'), '3.49 %')]